{% extends "WebSeleccion/base.html" %}

{% load static %}

{% block content %}

<div id='fondoHome'>

	<div class="contenedorTexto">
		<p>Web realizada con el framework Django.
		Cuenta con una barra de navegación, un footer
		y 3 secciones: Home, Jugadores y Títulos.</p>
	</div>

	<div class="contenedorTexto">
		<p>En "Jugadores" se ve una tabla que 
		muestra los datos de una BBDD Sqlite.
		Para modificar estos datos se debe 
		acceder como superusuario al panel de administración.</p>
	</div>
	<div class="contenedorTexto">
		<p>Los campos 'nombre', 'apellido' y 'partidos' pertenecen a
			la tabla Jugador que tiene una relacion 'many to many' con la 
			tabla Titulo, a la cual corresponden los campos torneo, sede, año.
		</p>
	</div>

	<div class="contenedorTexto">4</div>

</div>

{% endblock %}