{% extends "WebSeleccion/base.html" %}

{% load static %}

{% block content %}

<div id='fondoHome'>

	<div class="contenedorTexto">
		<p>Web realizada con el framework Django.
		Cuenta con una barra de navegación, un footer
		y 4 secciones: Home, Jugadores, Títulos y Contacto.</p>
	</div>

	<div class="contenedorTexto">
		<p>En "Jugadores" se ve una tabla que 
		muestra los datos de una BBDD Sqlite.
		Se pueden modificar estos datos a partir de los
		botones que aparecen en la página.
		</p>
	</div>
	<div class="contenedorTexto">
		<p>Los campos 'nombre', 'apellido' y 'partidos' pertenecen a
			la tabla Jugador que tiene una relacion 'many to many' con la 
			tabla Titulo, a la cual corresponden los campos torneo, sede, año.
		</p>
	</div>

	<div class="contenedorTexto">
		<p>En la sección "Contacto" hay un formulario que
		permite el envío de un mail a la casilla del sitio.</p>
	</div>
</div>

{% endblock %}